body {
	background: #01080E url('../img/_bg.jpg');
}

header {
	background: url('../img/banner.jpg') !important;
	height: 200px;
	margin-bottom: 16px;
}

#info {
	background: #F7F7F9;
	margin-bottom: 16px;
}

#menu { 
	background: #F7F7F9;
	
}

#content {
	background: #FFFFFF;
	padding: 16px; 
	max-width: 838px;
}

footer {
	color: #bbb;
	font-weight: bold;
	text-align: center;
	font-size: small;
}

header, #info, #menu, #content, footer, .container {
	border-radius: 8px;
}

.container {
	background: rgba(0, 0, 0, 0.6);
	padding: 16px;
	margin-top: 16px;
}
