body {
	background: #01080E url('../img/_bg.jpg');
}

header {
	background: #fff url('../img/banner.jpg') !important;
	height: 100px;
	margin-bottom: 16px;
}

#info {
	background: #F7F7F9;
	margin-bottom: 16px;
}

#menu { 
	background: #F7F7F9;
	
}

#content {
	background: #FFFFFF;
}

footer {
	color: #bbb;
	font-weight: bold;
	text-align: center;
	font-size: small;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

header, #info, #menu, #content, footer, .container {
	border-radius: 8px;
}

.container {
	background: rgba(0, 0, 0, 0.6);
	padding: 16px;
	margin-top: 16px;
}

.wrapper {
	margin: 16px; /* para evitar ficar usando padding e reposicionando com margin os elementos posicionados com o bootstrap */
}